.div1{
    display:flex;
}

.p1{
 padding-left:18px;

}
.img {
    position: relative;
    margin-left:10px;
    background-repeat:no-repeat;
    background-size:     cover;
}
ul{
    cursor: pointer;
}
a{
    margin-left: 40px;
    text-decoration:none;
    text-align: center
}
